.controlsContainer {
    height: 9rem;
    position: absolute;
    bottom: 60;
    right: 20;
}

/* Tablet */
@media (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile */
@media (max-width: 767px) {
  /* Mobile styles here */
  .controlsContainer {
    bottom: 100;
    right: 10;
}
}