.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    font-family: var(--font-poiretOne);
    font-size: large;
    width: 450px;
}

.emailAddressContainer {
    width: 100%;
    position: relative;
}

.emailAddressContainer input {
    width: 100%;
    padding-right: 45px; /* space for the icon */
    height: 50px; /* match icon size */
    box-sizing: border-box;
}


.iconContainer {
    position: absolute;
    top: 50%;
    right: 15px; /* adjust for spacing */
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* Tablet */
@media (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile */
@media (max-width: 767px) {
  /* Mobile styles here */
    .header {
        padding: 0rem 2rem;
        font-size: large;
    }
    .emailAddressContainer {
        width: 90vw;
    }
}