/* globals.css */

/* Box sizing and margin reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set default body styles */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-inter), var(--font-montserrat), var(--font-poiretOne),var(--font-pollerOne);
  background-color: #262626;
  color: white;
  overflow-x: hidden;
}

/* Make media elements responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form styles */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Buttons */
button {
  cursor: pointer;
}

/* Remove animations/transitions for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.snapContainer { 
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.snapItem {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.containerWithBorder {
  background-color: white;
  width: 100%;
  height: 100%;

}


/* Tablet */
@media (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile */
@media (max-width: 767px) {
  /* Mobile styles here */
}


/* Tablet */
/* @media (max-width: 1023px) { Tablet styles here } */

/* Mobile */
/* @media (max-width: 767px) { Mobile styles here } */
