.header {
    font-family: var(--font-poiretOne);
    font-size: 5rem;
}

.text {
    font-family: var(--font-monserrat);
    color: black;
    width: 300px;
    height: 200px;
}

/* Tablet */
@media (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile */
@media (max-width: 767px) {
  /* Mobile styles here */
  .header {
    font-size: 3rem;
  }
}