.container {
    font-weight: lighter;
    width: 1000px;
    text-align: center;
}



/* Tablet */
@media (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile */
@media (max-width: 767px) {
  /* Mobile styles here */
}